.section2{
    display: flex;
    height:150px ;
    width:95% ;
    border: 2px solid wheat;
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 25px;
    background-color: lightgrey;
    color: black;
}

.moreDetail{
    width: 33.33%
}